body {
    background-color: hsl(217, 54%, 11%);
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

#card {
    top: 5%;
    left: 10%;
    width: 80%;
    max-height: 90%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px 10px;
    padding: 1%;
}

.border {
    border-radius: 10px 10px;
    margin-top: 5%;
    width: 90%;
    max-height: 337px;
}

.name {
    margin: 4%;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.text {
    color: hsl(215, 51%, 70%);
    margin: 4%;
}

.money {
    color: hsl(178, 100%, 50%);
    float: left;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 5%;
}

.time {
    color: hsl(215, 51%, 70%);
    float: right;
    margin-top: 2%;
    font-weight: bold;
    font-size: 100%;
    margin-right: 5%;
}

.line {
    width: 100%;
    height: 1.8px;
    background-color: hsl(215, 32%, 27%);
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
}

.avatar {
    border-radius: 100px 100px;
    float: left;
    border: 1px solid white;
}

.text-bottom {
    color: hsl(215, 51%, 70%);
    margin-top: 1.5%;
    margin-left: 5%;
    margin-bottom: 5%;
    float: left;
}

@media only screen and (min-width: 550px) {
    #card {
        max-width: 410px;
        float: left;
        margin-left: 5%;
    }

    .border {
        max-width: 395px;
    }
}

@media only screen and (min-width: 650px) {
    #card {
        margin-left: 10%;
    }
}

@media only screen and (min-width: 800px) {
    #card {
        margin-left: 15%;
    }
}

@media only screen and (min-width: 950px) {
    #card {
        margin-left: 20%;
    }
}